<!DOCTYPE html>
<html lang="pt-br" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- appname %></title>
    <meta property="og:title" content="Moon Phase" />
    <meta property="og:description" content="Mostra a fase da lua na data atual" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- appurl %>" />
    <meta property="og:image" content="<%- appurl %>/img/moon.png" />
    <link rel="shortcut icon" href="<%- appurl %>/img/favicon/favicon.ico">
    <style>
      #app { width: 100%; height: 100%; }
    </style>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>